{% extends 'layout.html'%}
{% from 'helpers/_forms.html' import render_field  %}

{% block container %}
<div class="col-md-12 col-md-offset-1">
  <h3>New item</h3>
  <form class="" method="post"> 
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"> 

    <div class="form-group">
      {{ render_field(form.article_photo, class='form-control', placeholder='article photo')}}
    </div>

    <div class="form-group">
      {{ render_field(form.name_article, class='form-control', placeholder='name article')}}
    </div>

    <div class="form-group">
      {{ render_field(form.article_description, class='form-control',placeholder='article description')}}
    </div>

    <div class="form-group">
      {{ render_field(form.article_address, class='form-control', placeholder='article address')}}
    </div>

    <div class="form-group">
      {{ render_field(form.article_expires, class='form-control', placeholder='article expires')}}
    </div>

    <button type="submit" class="btn btn-primary" name="button">
      Save
    </button>
  </form>
</div>
{% endblock %}
