{% extends 'layout.html' %}

{% block container %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">

<body>
    <header class="bg_animate">

        <section class="banner contenedor">
            <secrion class="banner_title">
                <h2 class="display-4" >Add items to donApp</h2>
                <p>
                    DonApp is an application where you can post different articles in an easy and fast way, take a photo of the article
                    Enter the location.
                </p>
                <h1 class="display-5">But what kind of articles?</h1>
                <p>
                    DonApp classifies two types of articles which correspond to food and others, where others are articles without a date of
                    expiration test.
                </p>
                <br><br>
                <div class="contenedor-imagenes">
                    <img src="../static/images/GooglePlay.png" width="115" height="50">
                    <img src="../static/images/AppStore.png" width="115" height="50">
                </div>
                <br>
                <div class="pull-right">
                    <img src="../static/images/facebook.png" width="30" height="30">
                    <img src="../static/images/instagram.png" width="30" height="30">
                    <img src="../static/images/twitter.png" width="30" height="30">
                    <img src="../static/images/youtube.png" width="30" height="30">
                </div>

                <hr>
                <p>&copy; David Calle ABSI</p>
            </secrion>
            <div class="banner_img">
                <img src="../static/images/donate.svg">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
</body>
</html>
{% endblock %}
