{% extends 'layout.html' %}

{% block container %}
<div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">
    <h1 class="display-4">Add items to donApp</h1>
<hr>
<p>
    DonApp is an application where you can post different articles in an easy and fast way, take a photo of the article
    Enter the location of the item and you're done, you're helping.
</p>
<h1 class="display-6">But what kind of articles?</h1>
<p>
    DonApp classifies two types of articles which correspond to food and others, where others are articles without a date of
    expiration.
</p>
<p>&copy; ABSI</p>
</div>
{% endblock %}